<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
        <div class="block-7">
          <h3 class="footer-heading mb-4">About Us</h3>
          <p>
            We now deliver medicines across 100+ cities and towns in the country!
            We provide free delivery and great discounts on genuine medicines.
            Feel free to contact us for any kind of queries.
          </p>
        </div>
      </div>
      <div class="col-lg-3 mx-auto mb-5 mb-lg-0">

      </div>

      <div class="col-md-6 col-lg-3">
        <div class="block-5 mb-5">
          <h3 class="footer-heading mb-4">Contact Info</h3>
          <ul class="list-unstyled">
            <li class="address">
              Shreejana Nagar, Thimi, Bhaktapur
            </li>
            <li class="phone">
              <a href="tel://23923929210">+977 9862695088</a>
            </li>
            <li class="email">ujwol99@gmail.com</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/aos.js"></script>

<script src="/js/main.js"></script>
{{> common/flash }}
</body>

</html>