<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0">
        <a href="/">Home</a> <span class="mx-2 mb-0">/</span>
        <strong class="text-black">Orders</strong>
      </div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row mb-5">
      <form class="col-md-12" method="post">
        <div class="site-blocks-table">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="product-thumbnail">Order ID</th>
                <th class="product-name">Date</th>
                <th class="product-price">Grand Total</th>
                <th class="product-quantity">Status</th>
              </tr>
            </thead>
            <tbody>
              {{#each orders}}
              <tr>
                <td>
                  {{created_at}}
                </td>
                <td class="product-name">
                  <h2 class="h5 text-black">{{formatted_date}}</h2>
                </td>
                <td>Rs. {{total}}</td>
                <td>
                  {{status}}
                </td>
              </tr>
              {{/each}}

            </tbody>
          </table>
        </div>
      </form>
    </div>




  </div>
</div>