<footer class="footer">
  <div class="container-fluid">
    <nav class="float-left">
      <ul>
        <li>
          <a href="#">
            MedHub
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      &copy;
      <script>
        document.write(new Date().getFullYear())
      </script> <i class="material-icons">favorite</i>
    </div>
    <!-- your footer here -->
  </div>
</footer>
</div>
</div>


{{> common/flash }}
</body>

</html>